#!/bin/rc

path=(. /cork/bin)

fn run {
	lpaf=home$REQUEST_URI
	rpafs='/'; wd='/'; ifs='/';
	arg = `{echo $REQUEST_URI}
	if (test -d $lpaf) {
		lpaf=$lpaf^'i'
	}
	for (i in $arg) {
		wd=$wd^$i
		rpafs=($rpafs $wd)
		wd=$wd'/'
	}

	echo;
	for (h in $bar) { $$h }
	mh $lpaf.md
}


fn sbar {
	echo -n '<!DOCTYPE HTML><html><head><link rel='icon' href='/pix/circular-logo.avif'><link rel='stylesheet' type='text/css' href='//jpnuk.org.uk/src/s.css'> <meta charset=UTF-8><meta name=viewport content=width=device-width, initial-scale=1></head><body><header><h1>GAIPCHT - <span>Global Association for Indigenous Peoples of the Chittagong Hill Tracts</span></h1></header></nav></header><nav><ul><li><a href=/><b>home</b></a>'
	ls -F home/./$rpafs | sed -e 's,/+\./+,/,g' \
	-e '/\/i\.(md)$/d' \
	-e 's/\.(md)$//' -e 's!^home!!' | sort | awk -F/ '
	function p(x, y, s) { for (i=0; i<x-y; i++) printf s }
	BEGIN { lNF = 2 }
	{
		sub("/$", "", $0)
		p(NF, lNF, "<ul>» 「"); p(lNF, NF, "」<br></ul>")
		lNF = NF; fp = $NF
		printf "<li><a href=\%s\><b>%s</b></a>", $0, fp
	}

	END { p(lNF, 2, "</ul>"); printf "</nav><hr></small><article>" }'}

fn add {
	_l = $1^_^$#$1
	$_l = $*(2-)
	$1 = ($$1 $_l)
}

add bar sbar; run
